<ion-view title="{{bar.bar_nome}}">

    <ion-content scroll="false">
        
        <div class="bannertop">
            
            <ion-slide-box id="slidertop">
                
                <ion-slide class="slidewidth">
                    <div style="background-image:url(img/filtro.png); background-size:cover; background-position:center center;">
                        <div style="background-image:url(img/banner_ex.jpg); background-size:cover; background-position:center center;" class = "box box1">
                        </div>
                    </div>
                </ion-slide>

                <ion-slide class="slidewidth">
                    <div style="background-image:url(img/filtro.png); background-size:cover; background-position:center center;">
                        <div style="background-image:url(img/banner_exx.jpg); background-size:cover; background-position:center center;" class = "box box1">
                        </div>
                    </div>
                </ion-slide>
        
                <ion-slide class="slidewidth">
                    <div style="background-image:url(img/filtro.png); background-size:cover; background-position:center center;">
                        <div style="background-image:url(img/banner_ex.jpg); background-size:cover; background-position:center center;" class = "box box1">
                        </div>
                    </div>
                </ion-slide>
                
            </ion-slide-box>
            
        </div> 
    
        <ion-content style="margin-top: 130px;" >
            
            <div class="tabss">
                
            
                <ion-tabs class="tabs-icon-only tabs-positive">
                                
                    <ion-tab title="Sobre">
                             <ion-content class="background">
                                <div class="conteudo">
                                {{bar.bar_sobre}}
                                </div>
                            </ion-content>
                    </ion-tab>
                    
                    <ion-tab title="Informações">                                                    
                       <ion-content class="background">
                           <div class="lista fonte-vermelha">
                               <ul>
<!--                                   <li ng-repeat="item in itens">-->
                                   <li>
                                       <img src="img/ico_relogio.png" style="height: 26px;"/>
                                       <i></i> {{bar.bar_telefone2}} kajshdakjsdhsakjdkj kajsdkha
                                   </li>
                                   <li content="telephone=no">
                                       <img src="img/ico_fone.png" style="height: 26px;"/>
                                       <meta name="format-detection" content="telephone=no">                    {{bar.bar_telefone2}}
                                        </meta>
                                   </li>
                                   <li>
                                       <img src="img/ico_talher.png" style="height: 26px;"/>
                                       {{bar.bar_telefone2}}
                                   </li>
                               </ul>
                           </div>
                    <div class="barra_vermelha"></div>
                           
                            <div class="boxmapa" style="background-image:url(img/mapa_720.png); background-size:cover; background-position:center center; position:relative;">
                                
                            <div class="btn-mapa">
                                <button class="botao" ng-click="tracarRota()">Traçar Rota</button>
                            </div>
                            </div> 
                           
                           
                        </ion-content>                       
                    </ion-tab>
                    
    
                    <ion-tab title="Cardápio">
                        <ion-content class="background">
                           <div class="conteudo"> 
                               <ion-list>
                                   <div ng-repeat="group in itens">
                                       <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                                           <i class="icon" style="color: #fc3f1e;" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;
                                           {{group.Nome}}
                                       </ion-item>
                                       <ion-item class="item-accordion" ng-repeat="item in group.Receitas" ng-show="isGroupShown(group)" style="color: #9E0C0C;background-color: #F7F7F7;">
                                           <div class="list_pratos">
                                            &nbsp;{{item.Nome}} - R${{item.Preco}}
                                           </div>
                                           
                                       </ion-item>
                                   </div>
                               </ion-list>
                           </div>
                        </ion-content>
                    </ion-tab>
                    
                    
<!--
                    <ion-tab title="Promoções">
                       <ion-content class="background">
                           <div class="conteudo">
                               {{bar.bar_telefone2}}
                           </div>
                        </ion-content> 
                    </ion-tab>
-->
                    
                </ion-tabs>
                
            </div>
            
        </ion-content>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    
</ion-view>

<style type="text/css">

    .barra_vermelha {
        background:#fc3f1e;
        width: 100%;
        height: 13px;
    }

.item.item-stable {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #fc3f1e;
    height: 38px;
}
    
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
    
    
.box1, .box2, .box3 {
    height: 130px;
}

.lista ul li {
    padding: 18px 10px;
    border-bottom: 1px solid #d0d0d0;
    background-color: #F8F8F8;
}
    
.boxmapa {
    background: #D2D2D2;
    text-align: center;
    height: 222px;
    position: relative;
    display: block;
}
    
.btn-mapa {
    position: relative;
    bottom: -160px;
}
    
.botao {
    border-radius: 30px;
    border: none;
    padding: 10px 25px;
    background-color: #fc3f1e;
    color: white;
    font-size: 15px;
}

.cinza {
    color: #C7C7C7 !important;
    font-size: 25px;
    vertical-align: -3px;
    margin-right: 5px;
}
    
.icon-big {
    font-size: 25px;
    vertical-align: -3px;
    margin-right: 5px;
}
    
.valor {
    margin: 0px !important;
    padding: 0px !important;
    display: block;
    margin-top: 3px !important;
}

.fonte-cinza {
    font-size: 15px;
    color: #717171;
}

.fonte-vermelha {
    font-size: 15px;
    color: #fc3f1e;
    padding-top: 47px;
    
}
    
.ng-animate .scroll-bar {
    visibility: hidden;
}
    
.tab_interna {
    margin-top: 43px !important;
    display: inline-block;
}
    
</style>