<ion-view class="background_welcomee">
  <ion-content scroll="false">
        <div class="botoeslogin">
            <button class="button button-block" ui-sref="app.home">Sem Login</button>
            <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Login with Facebook</a>
            <a class="google-sign-in button button-block" ng-click="login()">Sign in with Google</a>
        </div>
      
   </ion-content>
</ion-view>

<style type="text/css">

.background_welcomee {
    background: #B42D17;
    background-image: url(img/splash.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
    
.botoeslogin {
    width: 100%;
    position: absolute;
    bottom: 13px;
    padding: 0px 13px 0px 13px;
}

</style>